/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../scss/screen.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 14, ../scss/screen.scss */
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

/* line 22, ../scss/screen.scss */
body {
  padding: 20px 20px 70px;
  background: white url("../images/bg_@2X.png");
  background-size: 320px;
  font-family: arial;
}

/* line 29, ../scss/screen.scss */
#nav {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}
/* line 37, ../scss/screen.scss */
#nav .title {
  float: left;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 20px;
  color: #fff;
  @param user-select(none);
}
/* line 45, ../scss/screen.scss */
#nav .nav-list {
  float: right;
}
/* line 47, ../scss/screen.scss */
#nav .nav-list .nav-icon {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  color: #fff;
  padding: 10px 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
/* line 57, ../scss/screen.scss */
#nav .nav-list .nav-icon:hover, #nav .nav-list .nav-icon.active {
  background: #000;
}

/* line 65, ../scss/screen.scss */
#canvas {
  border: 1px solid #333;
}

/* line 69, ../scss/screen.scss */
#color-picker {
  width: 300px;
  height: 450px;
  background: #222;
  position: fixed;
  bottom: 60px;
  right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #111;
  padding: 10px;
}
/* line 79, ../scss/screen.scss */
#color-picker #color-hue {
  height: 30px;
  width: 280px;
  margin: 20px 0;
  background: url("../images/hue_scale.png");
  background-size: 100% 100%;
}
/* line 85, ../scss/screen.scss */
#color-picker #color-hue .range-button {
  display: block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: -1px;
  background: white;
}
/* line 95, ../scss/screen.scss */
#color-picker #color-sl {
  height: 280px;
  width: 280px;
  margin: 20px 0;
  background: white;
  background-size: 100% 100%;
}
/* line 101, ../scss/screen.scss */
#color-picker #color-sl .range-button {
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 100%;
  left: 100%;
}
/* line 108, ../scss/screen.scss */
#color-picker #color-sl .range-button .range-button-1, #color-picker #color-sl .range-button .range-button-2 {
  position: absolute;
  width: 10px;
  height: 1px;
  background: white;
}
/* line 114, ../scss/screen.scss */
#color-picker #color-sl .range-button .range-button-3, #color-picker #color-sl .range-button .range-button-4 {
  position: absolute;
  width: 1px;
  height: 10px;
  background: white;
}
/* line 120, ../scss/screen.scss */
#color-picker #color-sl .range-button .range-button-1 {
  top: -5px;
  left: -5px;
}
/* line 121, ../scss/screen.scss */
#color-picker #color-sl .range-button .range-button-2 {
  bottom: -5px;
  left: -5px;
}
/* line 122, ../scss/screen.scss */
#color-picker #color-sl .range-button .range-button-3 {
  left: -5px;
  top: -5px;
}
/* line 123, ../scss/screen.scss */
#color-picker #color-sl .range-button .range-button-4 {
  right: -5px;
  top: -5px;
}
/* line 126, ../scss/screen.scss */
#color-picker #color-preview {
  height: 30px;
  background: #000;
}
